*{
  margin: 0;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
header{
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar{
  min-height: 80px;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:link {
  text-decoration: none;
}
.navbar-header p span { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

/* Navigation bar toggler color */
.navbar-toggler{
  border: 1px solid #61122f;
}
.navbar-toggler .navbar-toggler-icon{
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(97, 18, 47, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand .navbar-nav .nav-link{
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: larger;
}
.navbar-brand .navbar-logo .material-symbols-outlined{
  border: 5px solid black;
  align-content: center;
}
.navbar-brand li{
  display: inline;
  text-align: center;
}